#chart {
    float:right;
    display:inline-block;
}

#pp {
    float:left;
    display:inline-block;
}

#chart-save {
  clear: both;
  float: left;
}

#chart-image img {
  border: 1px solid black;
}
