#chart {
	float:right;
    display:inline-block;
}

#pp {
    float:left;
    display:inline-block;
}

#chart-save {
  clear: both;
  float: left;
}

#chart-image img {
  border: 1px solid black;
}
#textinput {
	width:30%;
}

#horz{

	margin:0;
}
.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}